@forward 'globals';
@use './globals/variables';
@use './globals/function' as f;

/* ===========
  Typography
============== */


// MAIN CARD

#main-card__content-top-text :first-child {
  font-size: f.convertToRem(12);
  color: var(--reportFontColor);
}

#main-card__content-top-text:not(:first-child) {
  font-size: f.convertToRem(24);
  font-weight: 300;
}

#main-card__content-bottom ul > li {
  color: var(--menuFontColor);
  &:hover {
    color: #FFF;
  }
}

// SECONDARY CARD

.secondary-card {

  .content__top > h2 {
    font-size: f.convertToRem(16);
    font-weight: 400;
    color: #FFF;
  }

  .content__bottom :first-child {
    font-size: f.convertToRem(24);
    font-weight: 300;
    color: var(--hoursFontColor);
  }

  .content__bottom:not(:first-child) {
    font-size: f.convertToRem(12);
    color: var(--lastWeekFontColor);
  }
}


.attribution {
  font-size: f.convertToRem(11);
  text-align: center;
}

.attribution a {
  color: var(--attributionLink);
}


/* ===========
  Layouts
============== */


// PENSER A CREER UNE FONCTION QUI CONVERTI EN EM LES PIXELS POUR LES PADDING LES MARGINS

body {
  min-height: 100vh;
  background-color: var(--backgroundColor-body);
}

.container {
  padding: f.convertToRem(24) f.convertToRem(24);
}

.card {
  width: min(90%, f.convertToRem(320));
  margin: 0 auto;
  position: relative;
  margin-bottom: 54px;
}

// MAIN CARD

#main-card__content-top,
#main-card__content-bottom {
  border-radius: 12px;
}

#main-card__content-top {
  position: relative;
  transform: translateY(50px);
  z-index: 3;
  display: flex;
  align-items: center;
  background-color: var(--backgroundColor-mainCard-top);
}

#portrait {
  width: 64px;
  height: 64px;
  border-radius: 55px;
  border: solid 2px #FFF;
  margin-right: 14px;
}

#main-card__content-bottom {
  position: relative;
  display: flex;
  align-items: flex-end;
  background-color: var(--backgroundColor-card);
  padding: 16px 22px;
  height: 100px;

  & > ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  & > ul li {
    cursor: pointer;
  }
}

// SECONDARY CARDS

.secondary-card {
  @extend .card;
  border-radius: 12px;
  background-color: var(--backgroundColor-card);
}

.illustration__card {
  position: absolute;
  inset: -34px 0 5px 0;
  border-radius: inherit;
  z-index: -1;
  background-size: 66px;
  background-position: top -8px right 14px;
  background-repeat: no-repeat;
}

#work {
  background-image: url(../images/icon-work.svg);
  background-color: var(--backgroundColor-work);
}

#play {
  background-image: url(../images/icon-play.svg);
  background-color: var(--backgroundColor-play);  
}

#study {
  background-image: url(../images/icon-study.svg);
  background-color: var(--backgroundColor-study);
}

#exercise {
  background-image: url(../images/icon-exercise.svg);
  background-color: var(--backgroundColor-exercise);
  background-position: top -1px right 14px;
}

#social {
  background-image: url(../images/icon-social.svg);
  background-color: var(--backgroundColor-social); 
}

#selfCare {
  background-image: url(../images/icon-self-care.svg);
  background-color: var(--backgroundColor-selfCare);
}

.content__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: f.convertToEm(8px, 16px);
}


.content__top > img {
  width: 21px;
  height: 5px;
  cursor: pointer;
}

.content__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}