:root {
  /* background-color */
  
  --backgroundColor-body: hsl(226, 43%, 10%);
  --backgroundColor-mainCard-top: hsl(246, 80%, 60%);
  --backgroundColor-card: hsl(235, 46%, 20%);
  --backgroundColor-card-hover: hsl(235, 45%, 61%);
  --backgroundColor-work: hsl(15, 100%, 70%);
  --backgroundColor-play: hsl(195, 74%, 62%);
  --backgroundColor-study: hsl(348, 100%, 68%);
  --backgroundColor-exercise: hsl(145, 58%, 55%);
  --backgroundColor-social: hsl(264, 64%, 52%);
  --backgroundColor-selfCare: hsl(43, 84%, 65%);

  
  /* fonts-color */

  --attributionLink: hsl(228, 45%, 44%);
  --bodyFontColor: hsl(1, 1%, 100%);
  --menuFontColor: hsl(235, 45%, 61%);
  --reportFontColor: hsl(236, 100%, 87%);
  --lastWeekFontColor: hsl(236, 100%, 87%);
  --hoursFontColor: hsl(1, 100%, 100%);
  
}

/* Media Query */

$breakpoint-L: 1200px;


@mixin breakPointL {
  @media screen and (min-width: $breakpoint-L){
    @content;
  }
}